<h1 class="w3-center dancing-script">Web Audio Player By Chukwudi</h1>

<div id="player-container" style="background-color: floralwhite">

  <div id="menu-bar">
    <div>
      <img src="assets/images/menu.png" alt="" class="w3-margin" (click)="toggleMenuVisibility()">
    </div>

    <div id="menu-list" [class]="isMenuVisible ? 'w3-animate-left w3-show' : 'w3- animate-right w3-hide'">
      <img src="assets/images/close.png" alt="" class="w3-right w3-margin" (click)="toggleMenuVisibility()">
      <p class="w3-margin w3-clear w3-center w3-xlarge dancing-script">Audio Files List</p>
      <table id="songs-list" class="w3-table w3-striped"
             *ngFor="let audioFile of this.audioList.audio; index as position;">
        <tr>
          <td style="cursor: pointer" class="w3-large"
              (click)="playSelected(position)">{{audioFile.audio_name}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="image-container">
    <img src="assets/images/img_lights.jpg" class="w3-card" alt="album image" id="album-image">
  </div>

  <div id="play-bar"
       (mouseenter)="togglePlayHeadVisibility()"
       (mouseleave)="togglePlayHeadVisibility()">
    <div id="progress-bar">
      <div id="unplayed" [style.left.%]="playPercent"></div>
    </div>
    <div id="play-head"
         [style.left.%]="playPercent"
         [style.display]="isPlayHeadVisible ? 'block' : 'none'"></div>
  </div>

  <div id="time-bar">
    <p id="played">{{currentPlayingTime}}</p>
    <p id="total">{{endTime}}</p>
  </div>

  <div id="title" class="w3-center w3-clear">
    <p class="dancing-script w3-xlarge">{{currentAudioName}}</p>
  </div>

  <div id="control-bar" class="w3-row-padding w3-margin-top">
    <div id="back" class="w3-col l4 m4 s4 w3-padding-large">
      <img id="back-button" src="assets/images/back.png"
           [class.disabled]="isPreviousButtonDisabled" alt="" (click)="previousAudio()">
    </div>

    <div id="play" class="w3-col l4 m4 s4 w3-padding-large">
      <img id="play-button" [src]="playButtonImage" alt="" (click)="playAudio()">
    </div>

    <div id="next" class="w3-col l4 m4 s4 w3-padding-large">
      <img id="next-button" src="assets/images/next.png"
           [class.disabled]="isNextButtonDisabled" alt="" (click)="nextAudio()">
    </div>
  </div>

  <div id="other-features" class="w3-row-padding w3-center w3-margin-top">
    <div id="speed" class="w3-col l4 m4 s4 w3-margin-top" (click)="changeSpeed()">
      <p id="speed-id" class="pointer">{{playBackSpeed}}</p>
      <br>
      <p class="pointer">Speed</p>
    </div>

    <div id="autoplay" class="w3-col l4 m4 s4 w3-margin-top pointer" (click)="toggleAutoPlaySet()">
      <p id="autoplay-id">{{(isAutoPlaySet) ? "ON" : "OFF"}}</p><br>
      <p>Autoplay</p>
    </div>

    <div id="mute" class="w3-col l4 m4 s4 w3-margin-top pointer" (click)="muteAudio()">
      <img [src]="muteButtonImage" alt="" id="mute-button">
      <br>
      <p id="mute-text">Mute</p>
    </div>
  </div>

  <br>

  <audio id="audio" #audioElement
         [src]="currentAudioLink"
         (loadedmetadata)="onLoaded(audioElement)"
         (timeupdate)="timeUpdate()"
         (pause)="togglePlayButtonImage(true)"
         (play)="togglePlayButtonImage(false)"
         (ended)="moveToNext()"
         ></audio>
</div>
